body {
    font-family: "Arial", sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: auto;
}
.btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.app {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card-container {
    text-align: center;
    margin-bottom: 20px;
}
.card {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    perspective: 1000px;
    cursor: pointer;
}
.card .front,
.card .back {
    backface-visibility: hidden;
    transition: transform 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.card .front {
    background-color: #e6efff;
    transform: rotateY(0deg);
}
.card .back {
    background-color: #28a745;
    color: white;
    transform: rotateY(180deg);
}
.card.flipped .front {
    transform: rotateY(-180deg);
}
.card.flipped .back {
    transform: rotateY(0deg);
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.controls button {
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #97e9d2;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.controls button:hover {
    background-color: #43e8b9;
}
.input-section {
    text-align: center;
    margin-bottom: 20px;
}
.input-section input {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.input-section button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #d199e0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.input-section button:hover {
    background-color: #c977e0;
}
.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.stats p {
    font-size: 18px;
    font-weight: bold;
}
.correct {
    color: #28a790;
}
.wrong {
    color: #da5f6b;
}
.modal-content {
    border-radius: 10px;
}
@media (max-width: 768px) {
    .card {
        width: 200px;
        height: 150px;
    }
}
